<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cplatform.back.mapper.RectangleMapper" >

    <resultMap id="BaseResultMap" type="com.cplatform.back.entity.Rectangle" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="building_id" property="buildingId" jdbcType="VARCHAR" />
        <result column="r_top" property="rTop" jdbcType="VARCHAR" />
        <result column="r_bottom" property="rBottom" jdbcType="VARCHAR" />
        <result column="r_left" property="rLeft" jdbcType="VARCHAR" />
        <result column="r_right" property="rRight" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <select id="getByBuildingId" resultMap="BaseResultMap">
        select * from rectangle where building_id = #{buildingId}
    </select>

</mapper>